* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: url('../images/SkyColor.jpg');
  background-size: auto;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clock {
  width: 300px;
  height: 300px;
  border: 20px solid rgba(255,255,255,0.5);
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow:
   0 0 0 1px #05486c,
   inset 0 0 0 1px #05486c,
   0 0 5px rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-2.5px);
}

.hand {
  /*height: 5px;*/
  width: 50%;
  background: #000;
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s forward;
  transition-timing-function: cubic-bezier(0.1, 2.01, 1,-0.18);
}

.hour {
  height: 7px;
  width: 33%;
  left: 17%;
}

.minutes {
  height: 5px;
}

.seconds {
  height: 2px;
  background: #05486c;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: .3rem;
}

.socialmedia img {
  height: 1.5rem;
  width: 1.5rem;
  padding: .05rem;
}

.socialmedia img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px #05486c;
}
